body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid white;
    padding: 10px;
}

.insight {
    background: #334155;
}